#posts {
    margin-top: 125px;    
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    margin-left: 25px;
    z-index: -1;
}

.banner {
    margin-left: 10px;   
}

/* Spinner di caricamento */
.spinner {
    margin: 100px auto 0;
    margin-top: 350px;
    font-size: 26px;
    width: 70px;
    text-align: center;
    z-index: 2;
    display: none;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(161, 161, 161);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

.internet{
    margin-top: 150px;
    margin-left: 20px;
    height: 100%;
    display: none;
}

.netlogo{
    margin-left: 42%;
    margin-top: 15%;
}

.noConnection{
    margin-top: 50px;
    text-align: center;
    font-family: verdana;
    font-size: 20pt;
}

.refreshContent{
    text-align: center;
    font-family: arial;
    font-size: 14pt;
    margin-top: 40px;
}

#refreshBtn{
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    border: none;
    font-size: 20px;
    color: #000000;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.wp-image-8186 {
    width: 100%;
}

.wp-image-8102 {
    width: 100%;
}

.vc_tta-panel{
  border-
}

.vc_tta-panel-heading{
  text-decoration: none;
  font-family: verdana;
  font-weight: bold;
  text-align: center;
}

a{
  text-decoration: none;
  color: #000;
}

.text{
  display: none;
}